@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x:  hidden;
}


/* MENU */
#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

/* SLIDER */
.carousel-inner {
    max-height: 39rem;
}

/* FOOTER */
#iconos > a > i {
    color: #fff;
    margin: 0px 10px;
    font-size: 1.5em;
}

/* EQUIPO */
.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.testimonials .testimonial-item {
    max-width: 18rem;
}
.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

/* COMPLEMENTO */
.showcase .showcase-text {
    padding: 3rem;
}
.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

.posters{
    width: 70%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* TABLE */

.container {
    margin: 100px auto;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}

* {
    outline: none
}

.table th,
.table thead th {
    font-weight: 500
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

.table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table th,
.table thead th {
    font-weight: 500
}

th {
    text-align: inherit
}

.m-b-20 {
    margin-bottom: 20px
}

.customcheckbox {
    display: block;
    position: relative;
    padding-left: 24px;
    font-weight: 100;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.customcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #CDCDCD;
    border-radius: 6px
}

.customcheckbox input:checked~.checkmark {
    background-color: #2196BB
}

.customcheckbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}


/* MEDIA QUERY PANTALLA ANCHA */



/* MEDIA QUERY PANTALLA SM */
@media (max-width: 768px) {
    #introduccion {
        width: 90% !important;
    }
    .w-sm-100 {
        width: 100% !important;
        text-align: center;
    }
    .showcase .showcase-text {
        padding: 7rem;
    }
}



/* MEDIA QUERY PANTALLA EXTRA-SM */
@media (max-width: 576px) {
    .flex-sm-wrap-center {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .fs-sm{
        font-size: 10px !important;
    }
    .fs-sm img{
        max-width: 100px !important;
    }
}
